.listing-container {
    background-color: var(--bg-color-tertiary);
    border: 1px solid var(--bg-color-tertiary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 408px;
    margin-top: 20px;
    width: 960px;
}

.card-container {
    border: 1px solid var(--bg-color-primary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 53px;
    justify-content: space-evenly;
    margin: 20px 20px 0 20px;
    width: 920px;
}

.name-content {
    color: var(--font-color-secondary);
    padding-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.price-content {
    color: var(--font-color-tertiary);
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
}